<div class="controlsRow">
  <form [formGroup]="form">
    <div class="controls">
      <div class="control custom-select">
        <select formControlName="viewMode">
          <option *ngFor="let option of (viewModes$ | async)" [value]="option.id" [disabled]="option.id === -1">
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>
    </form>
    <ng-content></ng-content>
</div>

<div class="panelsContainer">
  <div class="leftPanel"
    [ngStyle]="{ 'minWidth': leftSideWidth + 'px' }"
  >
    <div class="leftPanel__header"
      [ngStyle]="{ 'height': gridHeaderHeight + 'px' }">
      <button class="toggleBtn" (click)="toggleLeftSideWidth()">
        {{ isLeftSideExpanded ? '<' : '>'}}
      </button>
    </div>
    <ul class="leftPanel__list">
      <li class="leftPanel__list__item" *ngFor="let item of gantTasks; let i = index">
        <button class="deleteBtn" (click)="deleteEvent(item.id)">x</button>
        <span *ngIf="isLeftSideExpanded">{{item.name}}</span>
      </li>
    </ul>
  </div>
  <svg #gantt id="gantt" class="gantt" style="min-height: 100%"></svg>
</div>

<app-drawer [id]="'preDeleteEvent'">
  <div class="preDeleteDrawerInner">
    <div class="preDeleteDrawerBlock">
      Are use sure?
    <button class="btn btn--back" type="button"
      (click)="closePreDeleteEventDrawer()"><</button>
    <button class="btn btn--confirm" type="button"
      (click)="confirmDeleteEvent()">ya</button>
    </div>

  </div>
</app-drawer>
