*{
  font-family: monospace;
}
body{
  background-color: #484848;

}

// SCROLLBAR
:root {
  --scrollbar-bg: #1e1e1e;
  --scrollbar-thumb: #666;
  --scrollbar-thumb-hover: #999;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

/* WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 20px;
  border: 3px solid var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
// SCROLLBAR END


// overrides
.gantt .grid-background {
  fill: none;
}
.gantt .grid-header {
  // fill: #ffffff;
  // fill: #2f3767;
    fill: #993c3c;
  // stroke: #e0e0e0;
  stroke: #000;
  stroke-width: 1.4;
}
.gantt .grid-row {
  // fill: #ffffff;
  fill: #2f3767;
}
.gantt .grid-row:nth-child(even) {
  // fill: #f5f5f5;
  fill: #2f3767;
}
.gantt .row-line {
  // stroke: #ebeff2;
  stroke: #000;
}
.gantt .tick {
  // stroke: #e0e0e0;
  stroke: #000;
  stroke-width: 0.2;
}
.gantt .tick.thick {
  stroke-width: 0.4;
}
.gantt .today-highlight {
  // fill: #fcf8e3;
  fill: #2f3767;
  opacity: 0.5;
}
.gantt .arrow {
  fill: none;
  stroke: #666;
  stroke-width: 1.4;
}
.gantt .bar {
  fill: #b8c2cc;
  stroke: #8D99A6;
  stroke-width: 0;
  transition: stroke-width 0.3s ease;
  user-select: none;
}
.gantt .bar-progress {
  fill: #a3a3ff;
}
.gantt .bar-invalid {
  fill: transparent;
  stroke: #8D99A6;
  stroke-width: 1;
  stroke-dasharray: 5;
}
.gantt .bar-invalid ~ .bar-label {
  fill: #555;
}
.gantt .bar-label {
  // fill: #fff;
  fill: #000;
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 12px;
  font-weight: lighter;
}
.gantt .bar-label.big {
  fill: #aaa;
  text-anchor: start;
}
.gantt .handle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.gantt .bar-wrapper {
  cursor: pointer;
  outline: none;
}
.gantt .bar-wrapper:hover .bar {
  fill: #a9b5c1;
}
.gantt .bar-wrapper:hover .bar-progress {
  fill: #8a8aff;
}
.gantt .bar-wrapper:hover .handle {
  visibility: visible;
  opacity: 1;
}
.gantt .bar-wrapper.active .bar {
  fill: #a9b5c1;
}
.gantt .bar-wrapper.active .bar-progress {
  fill: #8a8aff;
}
.gantt .lower-text, .gantt .upper-text {
  font-size: 12px;
  text-anchor: middle;
}
.gantt .upper-text {
  // fill: #555;
  fill: #d9d9d9;
  display: none;
}
.gantt .lower-text {
  // fill: #333;
  fill: #cacaca;
}
.gantt .hide {
  display: none;
}

.gantt-container {
  position: relative;
  overflow: auto;
  font-size: 12px;
}
.gantt-container {
  & .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    // padding: 0;
    padding: 0 8px;
    color: #959da5;
    border-radius: 3px;
    & .details-container{
      & .btn-default{
        background: #271191;
        border: none;
        border-radius: 5px;
        color: #e4e4e4;
        line-height: 1.5;
        min-width: 26px;
        height: 26px;
        margin-left: 8px;
        cursor: pointer;
        font-weight: 600;
      }
    }
    & .title {
      border-bottom: 3px solid #a3a3ff;
      padding: 10px;
    }
    & .subtitle {
      padding: 10px;
      color: #dfe2e5;
    }
    & .pointer {
      position: absolute;
      height: 5px;
      margin: 0 0 0 -5px;
      border: 5px solid transparent;
      border-top-color: rgba(0, 0, 0, 0.8);
    }
  }
}
